.usercard {
    display: flex;
    justify-content: space-between;
    background-color: #1f1f1f;
    border: 1px solid #999999;
    border-radius: 20px;
    padding: 15px;
}
.usercard .wrapper {
    display: flex;
}
.usercard .button {
    width: 150px;
    display: flex;
    place-items: center;
}
.usercard .button:not(:last-child) {
    margin-right: 10px;
    width: 200px;
}