.competence__card {
    display: flex;
    justify-content: space-between;
    background-color: red;
    text-align: start;
    background-color: #1f1f1f;
    border: 1px solid #999999;
    border-radius: 10px;
    padding: 15px;
}
.competence__card:hover {
    background-color: #1c1c1c;
}
.competence__card .text {
    display: flex;
    flex-direction: column;
}
.competence__card .text .name {
    font-size: 16pt;
    font-weight: bolder;
}
.competence__card .card__right {
    display: flex;
    justify-content: flex-end;
    min-width: 150px;
}
.competence__card .level {
    font-size: 20pt;
    display: flex;
    align-items: center;
    margin-right: 10px;
}