.competence__filter {
  background-color: #1f1f1f;
  border: 1px solid #999999;
  border-radius: 20px;
  padding: 10px;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.competence__filter .title {
    font-size: 14pt;
    font-weight: bolder;
    margin-bottom: 15px;
}
.competence__filter .button__wrapper {
    width: 80%;
    margin-bottom: 15px;
}
